<div class="row">
    <div class="col-md-6">
        &copy; 2019 - WebClinic - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    <div class="col-md-6 text-right">
        @await Html.PartialAsync("_SelectLanguagePartial")
    </div>

</div>