
@{
    ViewData["Title"] = "WebClinic";
}

    <div class="text-center">
        <h2 class="display-4">WebClinic</h2>
        <h1 class="display-4"></h1>
        <img src="~/images/photo.png" alt="Clinic photo" />
    </div>
