@using Microsoft.AspNetCore.Mvc.Localization
@model WebClinicGUI.Models.PhysicianAccountViewModel
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = @Localizer["Physician account"];
}

<h2>@Localizer["My account"]</h2>
<div>
    <hr />
    <dl class="row">

        @await Html.PartialAsync("_AccountPartial", Model)


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Specialization)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Specialization)
        </dd>

    </dl>
</div>