@using Microsoft.AspNetCore.Mvc.Localization
@model WebClinicGUI.Models.ReceptionistAccountViewModel
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = @Localizer["Receptionist account"];
}

@await Html.PartialAsync("_AccountHeaderPartial")
<div>
    <hr />
    <dl class="row">

        @await Html.PartialAsync("_AccountPartial", Model)

    </dl>
</div>